.probeInput {
    background-color: lightgrey;
    border: 3px solid slategrey;
    margin: 20px;
    padding: 6px;
}

.probeInput input{
    margin: 2px;
    padding: 2px;
}

.probeSummary {
    background-color: lightblue;
    border: 3px solid slateblue;
    margin: 20px;
    padding: 6px;
}

.locationDiv {
    background-color: palegreen;
    border: 3px solid darkgreen;
    margin: 20px;
    padding: 6px;
}

.probeInputCon {
    float: right;
    width: 40%;
    margin: 5%;
}
.probeInputCon h4 {
    text-transform: uppercase;
}

.probeInputCon h5 {
    text-transform: uppercase;
}

.probeOutputCon {
    float: left;
    width: 40%;
    margin: 5%;
}

.pathfinderInputCon {
    float: left;
    width: 40%;
    margin: 5%;
}

.pathfinderInput div {
    background-color: lightblue;
    border: 3px solid slateblue;
}

.pathfinderOutputCon {
    float: right;
    width: 40%;
    margin: 5%;
}
.pathfinderOutput div {
    background-color: lightblue;
    border: 3px solid slateblue;
}